html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}
.b-users {
    display: block;
    align-items: normal;
}
.form-signin {
    width: 100%;
    max-width: 440px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="text"] {
    border-radius: 20px;
}
.form-signin__remember {
    font-size: 14px;
    padding-left: 30px;
}
.form-signin input[type="password"] {
    border-radius: 20px;
}
.form-signin__description p {
    margin: 0 0 2rem;
    font-size: 14px;
}
.form-control__icon {
    width: 26px;
    position: absolute;
    top: 50%;
    margin-top: -14px;
    left: 8px;
}
.form-control__w-icon {
    padding-left: 35px;
}
.form-signin__log-in {
    text-align: left;
    background-color: #e98c3b;
    color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    font-weight: bold;

}
.form-signin__log-in .bi {
    float: right;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 5px 5px 5px 6px;
    width: 30px;
    height: 30px;
}
.form-signin__log-in:hover {
    color: #fff;
    background-color: #E96203;
}

.users h1 {
    text-align: center;
}
.users__table {
    border-top: 30px solid #e98c3b;
}

.a-logout {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #ebebeb;
    color: #000;
    text-decoration: none;
}
.a-logout svg {
    margin-right: 5px;
}
.users__check {
    text-align: center;
}
.users__check img {
    width: 24px;
    height: 24px;
}
.bgc-light {
    background-color: #fff;
}
.bgc-dark {
    background-color: #ebebeb;
}
.users__student, .users__group {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
}
.users__student li:first-child {

    color: #000;
}
.users__student li:last-child {
    color: #b4b4b4;
}
.users__table div {
    padding-top: 5px;
    padding-bottom: 5px;
}
.pagination a {
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    color: #000;
}
.pagination li {
    padding: 0 3px;
    margin: 0 2px;
    font-size: 18px;
}
.pagination li.current {
    padding: 0 5px;
    border-bottom: 2px solid #ea9851;
}
